<nav class="navbar navbar-dark bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="Home">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/BOBST_Logo.png/420px-BOBST_Logo.png"
                alt="Bobst" width="100" height="24" class="d-inline-block align-text-top">
        </a>
        <a href="https://www.bobst.com/" rel="noopener" target="_blank" class="text-dark a-globe"
            aria-label="Bobst on web" title="Web">
            <i class="bi bi-globe"></i>
        </a>
    </div>
</nav>